body {
    background: url(img/gym.jpg);
}

.left {
    display: inline-block;
    color: white;
    position: absolute;
    left: 3.4rem;
    top: 2rem;
}

.left img {
    width: 12.5rem;
}

.mid {
    display: block;
    width: 100%; /* Full width on smaller screens */
    margin: 2rem auto;
    color: white;
}

.right {
    display: inline-block;
    position: absolute;
    right: 3.4rem;
    top: 2rem;
    padding: 1rem;
    color: white;
}

.navbar {
    display: inline-block;
    border-radius: 0.4rem;
}

.navbar li {
    display: inline-block;
    font-size: 2rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 3.4rem 2.3rem;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: gray;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0rem;
    background-color: black;
    color: white;
    padding: 0.8rem 1.3rem;
    border: 0.2rem solid gray;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: brown;
}

.container {
    color: white;
    border: 0.2rem solid rgb(247, 244, 244);
    margin: 5rem auto; /* Adjusted margin for better centering */
    padding: 2rem;
    width: 90%; /* Adjusted width for better responsiveness */
    border-radius: 1rem;
}

.form_group input {
    font-family: 'Baloo Bhai ', cursive;
    text-align: center;
    display: block;
    width: 100%; /* Full width on smaller screens */
    padding: 0.6rem;
    border: 0.2rem solid black;
    margin: 1.1rem auto;
    border-radius: 0.8rem;
}

.container h2 {
    text-align: center;
}

.container button {
    display: block;
    width: 100%; /* Full width on smaller screens */
    margin: 1rem auto; /* Adjusted margin for better centering */
}

html {
    font-size: 62.5%;
}

@media (max-width: 998px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .navbar li {
        font-size: 1.6rem; /* Adjusted font size for smaller screens */
    }
}
